<div class="card-columns"></div>
{{#each records}}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://egghead1/{{this.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
    </div>
</div>
{{/each}}
</div>